{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <title>TESTE</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="dir62">
        <meta name="author" content="alauracarlotta">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>

	<body>
        <h1>TESTEEEEEEEEEEEEE</h1>
    </body>
</html>
